@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.banner {
  width: clamp(800px, 100%, 1600px);
  margin-top: -115px;
  border-radius: 0 0 20px 20px;
  position: relative;
  height: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

nav {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  background-color: #ffffff;
  opacity: 0.8;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: flex-end;
  z-index: 1000;
  padding: 10px 20px;
  height: 250px;
}
@media (max-width: 480px) {
  .banner {
    width: 100%; /* Ajusta a largura do banner para 100% da tela */
    margin-top: -50px; /* Ajusta a margem superior para telas muito pequenas */
  }
  .container{
    top: 10px;
    margin-top: -180px;
  }
}

nav .menu {
  display: flex;
  list-style: none;
  font-weight: bold;
  padding: 5px;
}
nav .menu .menu-item {
  margin-right: 10px; /* Diminui o espaço entre os itens do menu */
}

nav .menu a {
  display: flex;
  text-decoration: none;
  font-size: clamp(16px, 2vw, 20px);
  padding: 10px;
  border-radius: 5px;
  color: #063399;
}

.menu-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #063399;
  text-decoration: none;
}

.menu-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 150px;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a {
  text-decoration: none;
  color: #063399;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu-item a:hover {
  color: #001248;
}

a.ativo {
  color: #000000;
  font-weight: bold;
}

.container {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 75%;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
  justify-content: center;
}

.container h1, h2, h3 {
  margin-top: 100px;
  text-align: center;
  color: #063399;
}

.lista {
  font-size: clamp(8px, 5vw, 16px);
  color: #333333;
}

.lista img {
  float: left;
  margin-right: 50px;
  margin-left: 100px;
}

table {
  width: 50%;
  margin: 0 auto;
}

th, td {
  border: none;
  padding: 10px;
  text-align: center;
}

img {
  width: clamp(50px, 20vw, 200px);
  height: auto;
}

table h4 {
  color: #063399;
  text-decoration: underline;
  margin-top: 0;
}

.galeria {
  margin: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria img {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.galeria figure {
  width: calc(30% - 20px);
  margin: 10px;
}

figcaption {
  font-size: clamp(8px, 2vw, 14px);
  color: #001248;
  font-weight: bold;
}

figure:active {
  transform: scale(1.1);
}

figure {
  width: 100%;
}

form {
  font-size: clamp(12px, 5vw, 16px);
  color: #333333;
  text-align: center;
}

label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-bottom: 10px;
}

form legend {
  color: #063399;
}

/* Rodapé */
footer {
  background-color: #001248;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

/* Imagens no rodapé */
footer img {
  width: clamp(20px, 5vw, 40px);
  margin: 5px;
}

/* Texto no rodapé */
footer p {
  font-size: clamp(12px, 2vw, 16px);
  margin: 10px 0;
}

/* Links no rodapé */
footer a {
  color: #ffffff;
  text-decoration: none;
}

/* Estilos para links ao passar o mouse */
footer a:hover {
  text-decoration: underline;
}

/* Ajustes específicos para telas menores */
@media (max-width: 768px) {
  footer {
    padding: 10px;
  }

  footer p {
    font-size: clamp(10px, 2vw, 14px);
  }

  footer img {
    width: clamp(15px, 4vw, 30px);
  }

  /* Logo pequeno no topo da página */
  .logo-large {
    display: none;
  }

  .logo-small {
    display: block;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    max-width: 80%;
  }
  .menu-item {
    margin-right: 5px; /* Menos espaço em telas menores */
  }
}
@media (max-width: 480px) {
  footer {
    padding: 5px;
  }

  footer p {
    font-size: clamp(8px, 2vw, 12px);
  }

  footer img {
    width: clamp(10px, 3vw, 25px);
  }

  /* Logo pequeno no topo da página */
  .logo-small {
    max-width: 80%;
  }
  .menu-item {
    margin-right: 1px; /* Menos espaço em telas muito pequenas */
  }
  nav {
    padding: 5px; /* Padding ainda menor */
    height: 100px;
  }

  nav .menu {
    font-size: clamp(12px, 1vw, 16px); /* Menor tamanho da fonte em telas muito pequenas */
  }

  nav .menu .menu-item {
    margin-right: 5px; /* Menos espaço entre itens em telas muito pequenas */
  }
}
@media (max-width: 768px) {
  .banner {
    width: 90%; /* Ajusta a largura do banner para 90% da tela */
    margin-top: -75px; /* Ajusta a margem superior para telas menores */
  }
}

@media (max-width: 480px) {
  .banner {
    width: 100%; /* Ajusta a largura do banner para 100% da tela */
    margin-top: -50px; /* Ajusta a margem superior para telas muito pequenas */
  }

}
@media (max-width: 768px) {
  .banner {
    height: 600px; /* Reduz a altura do banner em telas menores */
  }

  .banner img {
    max-width: 90%; /* Ajusta a largura máxima da imagem para 90% da tela */
  }
}

@media (max-width: 480px) {
  .banner {
    height: 400px; /* Reduz ainda mais a altura do banner em telas muito pequenas */
  }

  .banner img {
    max-width: 100%; /* Ajusta a largura máxima da imagem para 100% da tela */
  }
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer img {
  width: clamp(15px, 5vw, 30px);
  padding: 20px;
  text-decoration: none;
}

footer a, footer p {
  text-decoration: none;
  font-size: 14px;
  margin-top: -10px;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.active {
  opacity: 1;
}

.scroll {
  height: 70px;
  background-color: #ffffff;
  opacity: 1;
  transition: all 0.8s;
  top: 0;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #063399;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-items: flex-end;
}

.logo-large, .logo-small {
  position: absolute;
  bottom: 25px;
  left: 5%;
  z-index: 1001;
}

.oculto {
  display: none;
}

.gallery-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px 0 30px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: calc(50% - 20px);
  margin: 10px;
}

.gallery {
  display: flex;
}

.image {
  flex: 0 0 auto;
  width: 100%;
  transition: transform 0.5s ease;
}

.image img {
  width: 100%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #001248;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev, .next {
  font-size: 3em;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000000;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 10px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu-arrow {
  display: inline-block;
  margin-left: 5px;
}

.submenu-item {
  position: relative;
}

.submenu li a {
  font-size: clamp(12px, 3vw, 14px);
  color: #001248;
  font-weight: bold;
}

.slideshow {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slideshow-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide1 {
  flex: 1 0 auto;
  margin-right: 15px;
}

.slide1 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.slide1, .slide2 {
  flex: 0 0 32%;
  transition: opacity 0.8s ease-in-out;
  margin-right: 15px;
}

.slide1:last-child, .slide2:last-child {
  margin-right: 0;
}

.slide1 img, .slide2 img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 36px;
  line-height: 50px;
  border-radius: 50%;
}

.arrow:hover {
  background-color: black;
}

.arrow-left {
  left: 0px;
}

.arrow-right {
  right: 0px;
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.video-container video {
  width: 30%;
  display: block;
  margin: 0 auto;
  background-color: #000;
}

.video-description {
  font-weight: bold;
}

table {
  width: 60%;
  border-collapse: collapse;
  color: #ffffff;
}

table video {
  width: 200px;
  height: 400px;
  align-items: flex-end;
}

th, td {
  border:none;
  padding: 8px;
  text-align: center;
}

table p {
  color:#000000;
}

@media (max-width: 768px) {
  .slide1 {
    flex: 1 0 50%;
  }

  .logo-large {
    display: none;
  }

  .logo-small {
    display: block;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    max-width: 80%;
  }

  nav {
    padding: 5px 10px; /* Menos padding para o nav */
  }

  nav .menu {
    font-size: clamp(14px, 1.5vw, 18px); /* Reduz o tamanho da fonte */
  }

  nav .menu .menu-item {
    margin-right: 8px; /* Menos espaço entre itens em telas menores */
  }
}

@media (max-width: 480px) {
  .slide1 {
    flex: 1 0 100%;
  }

  .logo-small {
    max-width: 70%;
  }
}

.slide1 {
  flex: 1 0 calc(33.333% - 15px);
  margin-right: 15px;
}

.slide1:last-child {
  margin-right: 0;
}

p, li {
  font-size: clamp(4px, 2vw, 18px);
}

.lista {
  font-size: clamp(3px, 1vw, 16px);
}

h1 {
  font-size: clamp(12px, 6vw, 36px);
}

h2 {
  font-size: clamp(10px, 5vw, 30px);
}

h3 {
  font-size: clamp(9px, 4vw, 24px);
}

.menu a {
  font-size: clamp(16px, 2vw, 20px);
}

.footer a, .footer p {
  font-size: clamp(12px, 2vw, 16px);
}
